:root {
  --Primary-Dark-cyan: hsl(158, 36%, 37%);
  --Primary-Cream: hsl(30, 38%, 92%);

  --Neutral-Very-dark-blue: hsl(212, 21%, 14%);
  --Neutral-Dark-grayish-blue: hsl(228, 12%, 48%);
  --Neutral-White: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
}

body {
  display: grid;
  place-items: center;
  background-color: var(--Primary-Cream);

  height: 100vh;
  width: 100vw;

  font-size: 1.4rem;
}

.container {
  background-color: var(--Neutral-White);
  border-radius: 12px;
  overflow: hidden;
  width: 90vw;
  max-width: 34rem;
}

#mobile {
  width: 100%;
}

.desktop {
  display: none;
}

.bottom {
  padding: 1.8rem;
  color: var(--Neutral-Dark-grayish-blue);
}

.bottom h1 {
  margin-bottom: 1rem;

  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 0.5rem;
}

.bottom h2 {
  margin-bottom: 1rem;

  font-family: "Fraunces", serif;
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 95%;

  color: var(--Neutral-Very-dark-blue);
}

.bottom p:first-of-type {
  margin-bottom: 1rem;

  font-size: 1.4rem;
  line-height: 140%;
}

.price {
  display: flex;
  align-items: center;
  gap: 1.4rem;
}

.price span:first-of-type {
  margin-bottom: 1rem;
  font-family: "Fraunces", serif;

  font-size: 2.8rem;
  color: var(--Primary-Dark-cyan);
}

.price :last-child {
  margin-bottom: 1rem;

  font-size: 1.2rem;
  text-decoration: line-through;
}

.bottom button {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;

  padding: 1rem;
  width: 100%;
  border-radius: 4px;
  border: none;
  background-color: var(--Primary-Dark-cyan);
  color: var(--Neutral-White);
  font-weight: 700;
  cursor: pointer;
}

.bottom button img {
  width: 12px;
}

.bottom button:hover,
.bottom button:active {
  background-color: var(--Neutral-Very-dark-blue);
}

@media (min-width: 500px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 45rem;
  }
  #mobile {
    display: none;
  }
  .desktop {
    display: block;
    width: 100%;
  }
}
